<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineApp - Catálogo de Películas{% endblock %}</title>
</head>
<body>

    <header>
        <h1>🎬 CineApp</h1>
    </header>

    {% if messages %}
    <div class="zona-mensajes">
        {% for message in messages %}
        <div class="mensaje mensaje-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <small>&copy; 2025/2026 CineApp · Proyecto PEP 2DAW</small>
    </footer>

</body>
</html>
